<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SecretNest.ShortUrl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation targetFramework="4.0"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="LetsEncrypt" stopProcessing="true">
          <match url="^\.well-known/.*"/>
          <action type="None"/>
        </rule>
        <rule name="short" stopProcessing="true">
          <match url="(.*)"/>
          <action type="Rewrite" url="/Short.ashx?code={R:1}"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <applicationSettings>
    <SecretNest.ShortUrl.Properties.Settings>
      <setting name="DefaultSite" serializeAs="String">
        <value>http://localhost</value>
      </setting>
      <setting name="SettingNameFormat" serializeAs="String">
        <value>Setting.{0}.txt</value>
      </setting>
      <setting name="RedirectNameFormat" serializeAs="String">
        <value>Redirect.{0}.txt</value>
      </setting>
    </SecretNest.ShortUrl.Properties.Settings>
  </applicationSettings>
</configuration>
